body, html {
	width: 100%;
	min-height: 100%;
	margin: 0px;
}

body {
  background: linear-gradient(to bottom, #466dfb 0%,#b8cbf3 100%);
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}

.Logo {
	margin-bottom: 25px;
}

.Logo img {
  max-width: 500px;
	width: 100%;
  display: block;
  margin: 0 auto;
}

.Container {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
	max-width: 600px;
	margin: auto;
}

.Tickets {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
	justify-content: space-between;
	flex-direction: column;
}

.Tickets li {
  flex: auto;
	margin-bottom: 1rem;
 }

.Tickets li:first-child {
	padding-left: 0;
}

.Tickets a {
  display: block;
  text-align: center;
  padding: 1rem 0.5rem;
  bBBackground: #6A65DB;
  background: #71dcc7;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.UnionBranding {
  display: flex;
	margin-top: 100px;
	margin-bottom: 50px;
  justify-content: center;
	flex-direction: column;
}

.UnionBranding div {
  padding-left: 1rem;
  padding-right: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

.Copy {
	margin: auto;
	margin-bottom: 50px;
	text-align: center;
	color: white;
	line-height: 1.5;
}

.Hashtag {
	width: 100%;
	text-align: center;
	float: left;
	color: #ffffff;
}


@media screen and (min-width: 600px) {
	.Tickets {
		flex-direction: row;
	}

	.Tickets li {
		padding-left: 1rem;
	  padding-right: 1rem;
	}

	.UnionBranding {
		flex-direction: row;
	}
}